- title @initiative.name

%h1= @initiative.name

- unless user_is_member?
  = form_for(@user, url: join_initiative_path(@initiative)) do |f|
    - unless user_signed_in?
      = f.text_field :email
    = f.submit t('.join')

- else
  %ul#members
    - @initiative.members.each do |member|
      %li= member.email
