- title @initiative.name

%h1= @initiative.name

- unless user_is_member?
  = form_for(@user, url: join_initiative_path(@initiative)) do |f|
    - unless user_signed_in?
      = f.text_field :email
    = f.submit t('.join')

- else
  %ul#members
    - @initiative.members.each do |member|
      %li= member.email
  %ul#texts
    - @initiative.texts.each do |text|
      %li= text.title + "(" + text.author.email + "): " + text.body

- if user_signed_in?
  = form_for(@text, url: initiative_texts_path(@initiative)) do |f|
    = f.text_field :title
    = f.text_area :body
    = f.submit t('.create_text')
