- title @initiative.name

%h1= @initiative.name

- unless user_is_member?
  = form_for(@user, url: join_initiative_path(@initiative), method: :post) do |f|
    - unless user_signed_in?
      = f.email_field :email
    = f.submit t('.join')

- else
  %ul#members
    - @initiative.members.each do |member|
      %li= member.email
  %ul#texts
    - @initiative.texts.each do |text|
      %li= text.title + "(" + text.author.email + "): " + text.body

= form_for(@text, url: initiative_texts_path(@initiative)) do |f|
  - unless user_signed_in?
    = fields_for(@text.author) do |author_fields|
      = author_fields.email_field :email
  = f.text_field :title
  = f.text_area :body
  = f.submit t('.create_text')
