- title @initiative.name

//%h1= @initiative.name

- unless user_is_member?
  %div.container
    %div.content-bubble.col-md-6
      %h3= t('.join')
      %p= t('.explain')
      = form_for(@user, url: join_initiative_path(@initiative), method: :post) do |f|
        - unless user_signed_in?
          %p= t('.explain-not-signed-in')
          = f.email_field :email, class: 'form-control', placeholder: t('.placeholder_mail')
        = f.submit t('.join'), class: 'btn btn-primary'

- else
  %div.container
    %div.content-bubble.col-md-6
      %h3= t('.captions.memberlist')
      %ul#members
        - @initiative.members.each do |member|
          %li= member.email
  %div.container
    %div.content-bubble.col-md-6
      %h3= t('.captions.mailings')
      %ul#topics
        - @initiative.topics.each do |topic|
          %li
            %span.glyphicon.glyphicon-envelope
            %span
              = topic.head.author.email + ": "
              = link_to topic.name, initiative_topic_path(@initiative, topic)
            %span.glyphicon.glyphicon-collapse-down.pull-right
            %div.preview-mail= topic.head.body.first(140)
            /%div{id: "topic#{topic.id}"}
            /= link_to "Text holen", initiative_topic_path(@initiative, topic), remote: true
            
%div.container
  %div.content-bubble.col-md-6
    %h3= t('.captions.sent-mail-to-ini')
    = form_for(@topic, url: initiative_topics_path(@initiative)) do |f|
      - unless user_signed_in?
        = fields_for(@user) do |author_fields|
          = author_fields.email_field :email, class: 'form-control', placeholder: t('.placeholder_mail')
      = f.text_field :name, class: 'form-control', placeholder: t('.placeholder_title')
      = fields_for(@text) do |head_fields|
        = head_fields.text_area :body, class: 'form-control', placeholder: t('.placeholder_message')
      = f.submit t('.create_text'), class: 'btn btn-primary'
