#{raw t('.member', email: @user.email)}:
\
- @user.initiatives.each do |i|
  \  * #{i.name}
  \    #{initiative_url(i)}
  \
#{t('.activate')}:
= confirmation_url(@user, :confirmation_token => @token)
