!!! 5
%html
  %head
    %title= content_for(:title)
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %section#page-content.container
      %header#main-header.row
        %div#ini-logo.pull-left.col-md-4
          %a{href: '#'}
            %img{src: 'ini_logo_02.png', alt: 'initiative logo'}
        //%h3#ini-name= @initiative.name
        %div#user-control.btn-group.pull-right
          %button.btn.btn-default.dd-capt{type: 'button'} user
          %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'} }
            %span.caret
            %span.sr-only
          %ul#user.dropdown-menu{role: 'menu'}
            - if user_signed_in?
              %li= current_user.email
              %li.divider
              %li= link_to t('.sign_out'), destroy_user_session_path, method: :delete
            - else
              %li.divider
              %li= link_to t('.sign_in'), new_user_session_path

      %div#main-content.row
        - flash.each do |name, message|
          %div.alert.alert-info.alert-dismissable
            %button.close{type: 'button', data: {dismiss: 'alert'}}x
            = content_tag :span, message, class: name
        %div#inner-content.container  
          = yield
