!!! 5
%html
  %head
    %title= content_for(:title)
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %section#page-content.container
      %header#main-header.row
        %div#ini-logo.pull-left.col-md-4
          %a{href: '/'}
            %img{src: '/ini_logo_02.png', alt: 'initiative logo'}
        //%h3#ini-name= @initiative.name
        %div#user-control.pull-right
          - unless user_signed_in?
            = link_to t('.sign_in'), new_user_session_path
          - else
            = current_user.email
            (
            %span>= link_to(t('.sign_out'), destroy_user_session_path, method: :delete)
            )
      %div#main-content.row
        - msgs = flash.select { |k,v| [:alert, :notice].include?(k) }
        - msgs.each do |type, msg|
          - map = { notice: 'info', alert: 'danger' }
          %div{class: "alert alert-#{map[type]} alert-dismissable"}
            %button.close{type: 'button', data: {dismiss: 'alert'}}x
            = content_tag :span, msg
        %div#inner-content.container  
          = yield
