!!! 5
%html
  %head
    %title= content_for(:title)
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %ul#user
      - if user_signed_in?
        %li= current_user.email
        %li= link_to t('.sign_out'), destroy_user_session_path, method: :delete
      - else
        %li= link_to t('.sign_in'), new_user_session_path

    - flash.each do |name, message|
      = content_tag :div, message, class: name

    = yield
